extends common/layout.pug

block content
  main
    h1 Edit Here
      form.product-form(action="/admin/site/update" method="POST")
          div.form-control
              label(for="title") Site Name
              input(type="hidden" name="id" value=props_sites.id)
              input.product-form(type="text" name="site" id="site" value=props_sites.name)
          button.btn(type="submit") Edit Site
