extends common/layout.pug

block content
  main
    h1 Edit Here
    form.product-form(action="/admin/site/update" method="POST")
      div.form-control
        input(type="hidden" name="id" value=props_sites.id)
        label(for="title") Site Name
          input.product-form(type="text" name="site" id="site" value=props_sites.name)
        label(for="url") Url
          input.product-form(type="text" name="url" id="url" value=props_sites.url)
      button.btn(type="submit") Edit Site
