<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", conent="ie-edge")
    title Sites
    link(rel="stylesheet", href="/css/main.css")
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/admin/site/list") Site
          li.main-header__item
            a(href="/admin/site/new") Add Site
    main
      h1 TS Sites
      p List of all Sites
      each item in props_sites
        li= item.name
      
